<div class="navbar-brand">
    <a href="#">Brandzoo</a>
</div>
<div class="sidenav-wrapper">
    <ul class="admin-list">
        <li class="admin-list-item" routerLink="/">
            <i class="fa-solid fa-user"></i><a class="admin-link">My Profile</a>
        </li>
        <li class="admin-list-item" routerLink="/all-products">
            <i class="fa-solid fa-cart-shopping"></i><a class="admin-link">All Products</a>
        </li>
        <li class="admin-list-item" routerLink="/add-products">
            <i class="fa-solid fa-cart-plus"></i><a class="admin-link">Add Products</a>
        </li>
        <li class="admin-list-item" routerLink="/">
            <i class="fa-solid fa-right-from-bracket"></i><a class="admin-link">Log Out</a>
        </li>
       
    </ul>
</div>