
<div class="crd-det-wrap">
    <div class="cart-header">
        <div class="cart-title">Cart Items</div>
        <div class="cart-cancel">
          <a (click)="close()" class="cart-link">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
    </div>
    <div class="cart-body">
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartDetails; let i=index">
                    <td>{{i+1}}</td>
                    <td>
                        <div class="img-wrapper">
                            <img src="{{item.image}}"  class="w-100" alt="">
                        </div>
                    </td>
                    <td>{{item.p_name}}{{i}}</td>
                    <td class="text-center">
                        <button [disabled]='item.quantity == 1' (click)="quantityIncDec('minus',item._id)" class="quantity_btn">-</button> <span>{{item.quantity}}</span>
                        <button (click)="quantityIncDec('plus',item._id)" class="quantity_btn">+</button>
                    </td>
                    <td>{{item.price }}</td>
                    <td class="text-right"><button class="delete-btn" (click)="cartItemDelete(item)"><i class="fa-solid fa-xmark"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cart-footer">
        <h4 class="text-end">Total Price - {{totalamount}}</h4>
        <div class="text-end mt-5">
            <button (click)="placeOrder()" class="btn-common text-end">PROCEED TO SHIPPING</button>
        </div>
    </div>
</div>


