<!-- User Module -->
<app-user-header *ngIf="hdrouter == '/home'"></app-user-header>
<!-- Admin section -->
<div class="global-wrapper">
  <div class="sidebar" *ngIf="hdrouter !== '/home'">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-content" [ngClass]="hdrouter == '/home' ? 'w-100':''">
    <div class="header" *ngIf="hdrouter !== '/home'">
      <app-header></app-header>
    </div>
    <div class="container">
      <div class="outlet-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>






