.ht{
    height: unset !important;
}
.menu-link-wrapper{
    .menu-list{
        width: 320px;
        .menu-item{
            padding: 1rem 2rem;
            list-style: none;
            border-bottom: 1px solid black;
            transition: all 0.5s;
            cursor: pointer;
            &:hover{
                background-color: rgb(177, 156, 156);
            }
        }
    }
}