.search-wrapper{
    display: flex;
    justify-content: end;
    margin: 20px 30px;
    input{
        border: 1px solid #4723d9;
        padding: 10px 20px;
        border-radius: 0px;
        &:focus{
            outline: none;
        }
    }
}


::ng-deep.ngx-pagination .current {
    background-color: #4723d9 !important;
}